
.pleer {
    margin: 15px;
}

.item{
  font-weight: 800;
  font-size: 20px;
}

.buttonPleer {
        border-radius: 8px;
        /* border: medium;
        border-style:solid ;
        border-color:rgb(255, 222, 36);
        color: rgb(0, 0, 0);
        background-color: rgb(251, 206, 123); 
        box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.8);
        -webkit-transform: scale(0.94);
        transform: scale(0.94); */
      }
      
      .buttonPleer:hover {
         /* color:rgb(71, 42, 4);
        background-color: #F4A460; */
        /* background-color: rgb(216, 195, 104); */
        transform: scale(1.01); 
}