
.users {
  padding-left: 20px;
  padding-top: 10px;
}

.userPhoto {
  width: 100px;
  height: 100px;
  border: medium;
  border-style:solid ;
  border-color:chocolate;
  border-top: none; border-bottom: none; border-radius: 50px;   
}

.selectedPage {
    font-weight: bold;
}

.button {
  border-radius: 8px;

}

.button:hover {
  transform: scale(1.01);
}

