

.postsBlock {
    padding: 10px;
}

.posts {
    margin-top: 10px;
}
.textarea {
    border-radius: 5px;
}

.button {
    border-radius: 40px;
    border: medium;
    border-style:solid ;
    border-color:rgb(255, 222, 36);
    color: rgb(65, 33, 4);
    background-color: rgb(251, 206, 123); 
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.8);
    -webkit-transform: scale(0.94);
    transform: scale(0.94);
}

.button:hover {
    /* color:rgb(71, 187, 255); */
    background-color: #F4A460;
    transform: scale(1.03);
}