.nav {
  grid-area: n;
  /* background: #05427a; */
  background: rgba(101,108,133,.8);
  /* background: rgba(101,108,133,.8); */
  padding: 15px;
  width: 170px;
}

.item a{
  color: white;
  /* color: #1890ff; */
  text-decoration: none;
}

.item a.active  {
  color: gold;
}

.item:hover {
  transform: scale(1.03);

}

.sidebarPage {
  text-align:center;
  color: rgb(215, 219, 255);
  margin-top: 100px;
  border-radius: 5px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  /* height: 500px; */
  background-color: #6c7580;;
}

.sidebarPage img {
  width: 40px;
  height: 40px;
  border-radius: 35px;
  column-count: 3;
}

.sidebar {
  width: 170px;
  column-count: 3;
}

.setting {
  margin-top: 10px;
}

.friends {
  color: #5486aa;
  background-color: #555a64;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}