
.dialogs{
    display: grid;
    grid-template-columns: 2fr 8fr;
    
}

.dialogs a {
    color: #13157a;
    text-decoration: none;
}

.dialogsItems {
    padding: 10px; 
    width: 180px;
}


.dialogsItems .active{
        color: rgb(255, 255, 0);
      
}


.dialog {
    padding: 2px;
}

.dialog img {
    width: 40px;
    height: 40px;
    border-radius: 35px;
}

.messages {
    padding: 10px; 
    background-color: hsla(0, 0%, 100%, 0.397);
    color: #120d5a	;
    
}
  
.textarea {
    width: 190px;
    height: 20px;
    border-radius: 60px;
    bottom: 0px; 
    /* position: absolute; */
}


.button {
    border-radius: 30px;
    position: absolute;
    /* border-style:solid ; */
    /* border-color:rgb(166, 255, 0);
    color: rgb(10, 52, 238);*/
     /* border-color:rgb(255, 222, 36); */
     /* color: rgb(63, 30, 0);
     background-color: rgb(251, 226, 178);
     opacity: .77; */
   /* bottom: 0px; */
}

.button:hover {
    transform: scale(1.01);
}
